.intro {
  composes: abs-fill from global;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  overscroll-behavior: contain;
  display: grid;
  grid-template-rows: max-content max-content max-content;
  font-size: 1.2rem;
  color: var(--dim-text);
  direction: rtl;
}

.hide {
  display: none;
}

.main {
  background-color: white;
  min-height: 500px;
  flex-direction: column;
  display: flex;
  margin: auto;
  justify-content: center;
  position: relative;

  @media (min-width: 600px) {
    /* min-height: 688px; */
  }
}

.logo-container {
  text-align: center;
  margin-top: 60px;
}

.uploadBox {
  max-width: 90vw; /* Make it responsive on smaller screens */
  height: 200px;
  cursor: pointer;
  border: 2px dashed grey;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 25px 0px;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  @media (min-width: 600px) {
    width: 75vw;
  }
}

.selectFileBtn {
  composes: unbutton from global;
  background-color: var(--deep-blue);
  color: white;
  padding: 1.8rem 8rem;
  font-size: 2rem;
  font-family: inherit; /* Ensure correct font is used */
  font-weight: bold;
  border-radius: 8px;
  transition: transform 0.2s ease, background-color 0.2s ease;

  &:hover {
    transform: scale(1.01);
    background-color: var(--dim-blue);
  }
}

.dragDropSpan {
  color: grey;
}

.secureSpan {
  color: grey;
}

.secureDiv {
  display: flex;
  align-items: center;
  gap: 5px;
}

.info-section {
  margin: auto;
  margin-top: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 50px;
  row-gap: 20px;
  width: 75vw;
  display: grid;
}

.info {
  text-align: center;
}

.info-title {
  margin: 0px;
  padding: 6px 0px;
  font-size: 30px;
  font-weight: 500;
}

.info-content {
  font-size: 15px;
}

.questionSection {
  display: flex;
  border: 1px solid grey;
  width: 80vw;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
  padding: 60px 0px;
  justify-content: center;
  gap: 150px;
  align-items: center;
}

.faqSection {
  width: 75vw;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.faqHeader {
  font-size: 2.5rem;
  color: var(--off-black);
  margin-bottom: 30px;
}

.faqItem {
  border-bottom: 1px solid #e0e0e0;
}

.faqQuestion {
  composes: unbutton from global;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--off-black);
}

.faqIcon {
  font-size: 2rem;
  font-weight: lighter;
  transition: transform 0.3s ease;
}

.faqIconOpen {
  transform: rotate(45deg);
}

.faqAnswer {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease-out, opacity 0.3s ease-in-out,
    padding 0.3s ease;
}

.faqAnswerOpen {
  max-height: 300px; /* ارتفاع کافی برای نمایش جواب */
  opacity: 1;
  padding-bottom: 20px;
}

.faqAnswer p {
  font-size: 1.1rem;
  line-height: 1.8;
  color: var(--dim-text);
}

/* بخش فوتر */
.footer {
  background: var(--white);
  padding-top: 5em;
}

.footer-container {
  position: relative;
  background: var(--light-gray);
}

.top-wave {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
}

.footer-wave {
  fill: var(--light-gray);
}

.footer-padding {
  padding: 2em;
}

.footer-items {
  display: grid;
  grid-auto-rows: max-content;
  justify-items: center;
  gap: 2rem;

  @media (min-width: 480px) {
    justify-content: end;
    grid-auto-flow: column;
    align-items: center;
    gap: 4rem;
  }
}

.footer-link {
  text-decoration: none;
  color: inherit;
}
