.select {
  position: relative;
}

.large-builtin-select {
  border: 1px solid grey;
  border-radius: 15px;
  font: inherit;
  padding: 25px 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: var(--dim-text);
  width: 100%;
}
.builtin-select {
  border: 1px solid grey;
  border-radius: 5px;
  font: inherit;
  padding: 5px 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: var(--dim-text);
  width: 100%;
}

.arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--dim-text);
  width: 10px;
  pointer-events: none;
}
.large-input-arrow {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--dim-text);
  width: 10px;
  pointer-events: none;
}
